<template name="login">
	<form id="login-form">
		<fieldset>
			<h4>Entrar no Sistema</h4>
			<div class="field">
				<label for="email">Email</label>
				<input type="email" id="email" name="email">
			</div>

			<div class="field">
				<label for="password">Senha</label>
				<input type="password" id="password" name="password">
			</div>

			<div class="field">
				<input type="submit" value="Entrar">
			</div>
		</fieldset>
	</form>
	<p><a href="{{ pathFor 'register' }}">Ainda não tenho conta. Quero me registrar.</a></p>
</template>